################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

**/obj
**/bin
**/out
**/.vs
*.zip
*.user
**/*.zip
**/*.user
**/packages
**/*.xml
/sh.exe.stackdump
**/riderModule.iml
